.export a{
    text-decoration: none;
    color: #fff;
}
.custom-select {
    display: block;
      width: 100%;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: 5px;
  }
.form-control-datetimepicker input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 5px;
    height: 40px;
}
.btn-style {
width: 80px;
margin: 0px 5px;
}
.flexbox-center {
display: flex;
justify-content: center;
}
.data-link {
    cursor: pointer;
}
.data-link:hover {
    color: #0b5ed7;
}
.validation-message {
    color: red;
}